# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
env/

# Streamlit
.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# Local Assets (Optional - keep this if you want others to provide their own)
# assets/*.ttf
# assets/*.mp3
